[user]
	email = bmjfdrh@gmail.com
    name = abdalrzag eisa
    signingkey = 4CD5A78B36195BC8

[credential]
    helper = store

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[core]
	filemode = false
