[user]
	email = 53495583+mesalilac@users.noreply.github.com
    name = Abdalrzag Eisa
    signingkey = 4CD5A78B36195BC8

[credential]
    helper = store

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[core]
	filemode = false
    editor = nvim

[push]
	autoSetupRemote = true

[init]
    defaultBranch = main
