[user]
	email = 53495583+mesalilac@users.noreply.github.com
    name = Abdalrzag Eisa
    signingkey = 4CD5A78B36195BC8

[credential]
    helper = store

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[core]
	filemode = false
    autocrlf = false
	editor = zed --wait
	pager = delta
	longpaths = true

[push]
	autoSetupRemote = true

[init]
    defaultBranch = main
[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true

[merge]
	conflictStyle = zdiff3
