//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
//@theme "./themes/gruvbox-dark-soft.rasi"
//@theme "/home/mesa/.config/rofi/themes/simple-tokyonight.rasi"
@theme "/home/mesa/.config/rofi/themes/android_notification.rasi"
